<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Roco</title>
  <link rel="icon" href="static/images/favicon.ico">
  <link rel="stylesheet" href="static/css/reset.css">
  <!--全局样式，优先级最低-->
  <link rel="stylesheet" href="static/css/yys.css">
</head>

<body>
  <!--最外层的容器-->
  <div class="roco">
    <!--头部开始-->
    <div class="header">
      <div class="menu">功能目录</div>
      <a href="https://sds.ustc.edu.cn/main.htm">
        <img src="static/images/dslogo.png" alt="" class="logo">
      </a>
      <div class="author">Zhang HaoQian</div>
    </div>

    <!--头部结束-->
    <!--轮播图开始-->
    <div class="banner">
      <div class="nav">
        <div class="nav-list">

        </div>
        <div class="nav-wrap">
          <ul>
            <li class="nav-active"><a href="https://17roco.qq.com/index.html">官网首页</a></li>
            <li>
              <a href="#">活动资讯</a>
              
            </li>
            <li><a href="#">宠物图鉴</a></li>
            <li><a href="http://my.4399.com/account/">论坛</a></li>
            <li><a href="#">属性相克</a></li>
            <li><a
                href="https://tieba.baidu.com/f?dyTabStr=MCw2LDIsMSw0LDMsNSw3LDgsOQ%3D%3D&fr=ala0&kw=%C2%E5%BF%CB%CD%F5%B9%FA&tpl=5">百度贴吧</a>
            </li>
            <li><a
                href="https://lewan.baidu.com/lewan?gameName=%E6%B4%9B%E5%85%8B%E7%8E%8B%E5%9B%BD&type=11&gameId=129556370912165888&idfrom=5019&sid=">手游下载</a>
            </li>
            <li><a href="#">十二星宫</a></li>
            <li><a href="#">装备图鉴</a></li>
            <li><a href="#">我的宠物</a></li>
            <li><a href="#">我的装备</a></li>
            <li><a href="#">活动进度</a></li>
            <li><a href="login/1">登录</a></li>
          </ul>
          <div class="search">

          </div>
        </div>
        <div class="nav-list">
          <a href="https://mp.weixin.qq.com/s?__biz=NjI3NDcxMDgx&mid=2651726991&idx=1&sn=76d9ce22e69178c39fcfbd2643955ffb&scene=45#wechat_redirect">
            <img src="static/images/640 (1).png" alt="">
          </a>
          <a href="https://mp.weixin.qq.com/s?__biz=NjI3NDcxMDgx&mid=2651726991&idx=1&sn=76d9ce22e69178c39fcfbd2643955ffb&scene=45#wechat_redirect">
            <img src="static/images/640 (2).png" alt="">
          </a>
          <a href="https://mp.weixin.qq.com/s?__biz=NjI3NDcxMDgx&mid=2651726991&idx=1&sn=76d9ce22e69178c39fcfbd2643955ffb&scene=45#wechat_redirect">
            <img src="static/images/640 (3).png" alt="">
          </a>
          <a href="https://mp.weixin.qq.com/s?__biz=NjI3NDcxMDgx&mid=2651726991&idx=1&sn=76d9ce22e69178c39fcfbd2643955ffb&scene=45#wechat_redirect">
            <img src="static/images/640 (4).png" alt="">
          </a>
          <a href="https://mp.weixin.qq.com/s?__biz=NjI3NDcxMDgx&mid=2651726991&idx=1&sn=76d9ce22e69178c39fcfbd2643955ffb&scene=45#wechat_redirect">
            <img src="static/images/640.jpeg" alt="">
          </a>
          <a href="https://mp.weixin.qq.com/s?__biz=NjI3NDcxMDgx&mid=2651726991&idx=1&sn=76d9ce22e69178c39fcfbd2643955ffb&scene=45#wechat_redirect">
            <img src="static/images/640.png" alt="">
          </a>
        </div>


      </div>
      <div class="banner-box">
        <img src="static/images/8.jpg" alt="">
        <div class="banner-bottom"></div>
        <div class="banner-logo"></div>
      </div>
    </div>
    <!--轮播图结束-->
    <!--主体开始-->
    <div class="home">
      <div class="wrap">
        <!--宠物爆料开始-->
          <div class="world">
            
          </div>
          <div class="world-title">
              
          </div>
        <!--宠物爆料结束-->
      </div>
    </div>
    <!--主体结束-->
  </div>
</body>

</html>