<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/login.css">
  <link rel="icon" href="../static/images/favicon.ico">
  <title>录入</title>
</head>

<body>
  <form method = "post" class = login>
    <p>INPUT</p>
    <input type="text" placeholder="ID" name='name' id='name'>
    <input type="text" placeholder="petID or 装备名" name='petname' id='petname'>
    <input type="text" placeholder="奖励类型" name='actitype' id='actitype'>
    <!--
      <input type="submit"
        class="btn" value="LOGIN">
    -->
    <button class="btn">ENTER</button>
  </form>

</body>

</html>