<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/punish.css">
  <link rel="icon" href="../static/images/th.jpg">
  <title>录入</title>
</head>

<body>
  <h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
          </ul>
      {% endif %}
    {% endwith %}
  </h2>
  <form method = "post" class = login>
    <p>INPUT</p>
    <input type="text" placeholder="封号id" name='punishid' id='punishid'>
    <input type="text" placeholder="确认封号id" name='sepunishid' id='sepunishid'>
    <!--
      <input type="submit"
        class="btn" value="LOGIN">
    -->
    <button  href="manager" class="btn">ENTER</button>
  </form>

</body>