<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>个人主页</title>
  <link rel="stylesheet" href="../static/css/self.css">
  <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" />
  <link rel="icon" href="../static/images/favicon.ico">
</head>

<body>
  <header class="header">
    <a href="#" class="logo">Roco Kingdom.</a>

    <nav class="navbar">
      <a href="index" class="active item" style="--i:1">Home</a>
      <a href="#" class="active item" style="--i:2">About</a>
      <a href="#" class="active item" style="--i:3">Skills</a>
      <a href="#" class="active item" style="--i:4">Setting</a>
      <a href="#" class="active item" style="--i:5">Contact</a>

    </nav>
  </header>

  <section class="home">

    <div class="home-content">
      <h3>Hello,{{player}}</h3>
      <h1>Here is Roco Information Management Platform</h1>
      <h3>Author: <span class="multiple-text"></span></h3>
      <p>
        <h3>your id:{{id}}</h3>
        <h3>your family:{{family}}</h3>
      </p>
      <div class="social-media">
        <a href="#" style="--i:7"><i class="bx bxl-tiktok"></i></a>
        <a href="#" style="--i:8"><i class="bx bxl-facebook-circle"></i></a>
        <a href="#" style="--i:9"><i class="bx bxl-google"></i></a>
        <a href="#" style="--i:10"><i class="bx bxl-linkedin-square"></i></a>
      </div>
      <a href="#" class="btn">Download APP</a>
      <a href="playerpet" class="btn1">宠物信息</a>
    </div>
    <div class="home-img">
      <img src="../static/images/user.webp" alt="" />
    </div>
  </section>
  <script src="https://unpkg.com/typed.js@2.0.132/dist/typed.umd.js"></script>
  <script src="../static/css/script.js"></script>
</body>

</html>