<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>个人主页</title>
  <link rel="stylesheet" href="../static/css/self.css">
  <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" />
  <link rel="icon" href="../static/images/favicon.ico">
</head>

<body>
  <header class="header">
    <a href="https://17roco.qq.com/" class="logo">Roco Kingdom</a>

    <nav class="navbar">
      <a href="/" class="active item" style="--i:1">Home</a>
      <a href="https://www.bilibili.com/read/cv14495313/" class="active item" style="--i:2">About</a>
      <a href="https://rocokingdom.huijiwiki.com/wiki/%E6%8A%80%E8%83%BD%E7%9F%B3%E5%88%97%E8%A1%A8" class="active item" style="--i:3">Skills</a>
      <a href="passwdchange" class="active item" style="--i:4">Setting</a>
      <a href="https://17roco.gamebbs.qq.com/forum.php" class="active item" style="--i:5">Contact</a>

    </nav>
  </header>

  <section class="home">

    <div class="home-content">
      <h3>Hello,{{player}}</h3>
      <h1>Here is Roco Information Management Platform</h1>
      <h3>Author: <span class="multiple-text"></span></h3>
      <p>
        <h3>your id:{{id}}</h3>
        <h3>your family:{{family}}</h3>
      </p>
      <div class="social-media">
        <a href="#" style="--i:7"><i class="bx bxl-tiktok"></i></a>
        <a href="#" style="--i:8"><i class="bx bxl-facebook-circle"></i></a>
        <a href="#" style="--i:9"><i class="bx bxl-google"></i></a>
        <a href="#" style="--i:10"><i class="bx bxl-linkedin-square"></i></a>
      </div>
      <a href="playerpet" class="btn1">宠物信息</a>
      <a href="deletepet" class="btn1">放生宠物</a>
      <a href="passwdchange" class="btn">修改密码</a>
    </div>
    <div class="home-img">
      <img src="../static/images/user.webp" alt="" />
    </div>
  </section>
  <script src="https://unpkg.com/typed.js@2.0.132/dist/typed.umd.js"></script>
  <script src="../static/css/script.js"></script>
</body>

</html>