<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/update.css">
  <link rel="icon" href="../static/images/th.jpg">
  <title>录入</title>
</head>

<body>
  <form method = "post" class = login>
    <p>INPUT</p>
    <input type="text" placeholder="活动ID" name='actiid' id='actiid'>
    <input type="text" placeholder="活动名" name='actiname' id='actiname'>
    <input type="text" placeholder="活动奖励" name='reward' id='reward'>
    <input type="text" placeholder="奖励类型" name='actitype' id='actitype'>
    <!--
      <input type="submit"
        class="btn" value="LOGIN">
    -->
    <button  href="manager" class="btn">ENTER</button>
  </form>

</body>